<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>E-Commerce</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="~/css/style.css"/>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#logout_confirm').click(function(){
                    if(confirm('Are you sure to logout')) {
                        return true;
                    }
                    return false;
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            @Html.Partial("Navbar")
            <h2 class="center" >Welcome @ViewBag.Name</h2><br><br>
            <div class="recent">
                <h3 class="header"><u>Recent Products</u></h3><br>
                @foreach(Product product in @ViewBag.products)
                {
                    <div class="product_box">
                        <a href="display_product/@product.ProductId"><img class="product_image" src="@product.Image" alt="Error"></a>
                        <p>@product.Name</p>
                        <p>(@product.Quantity left)</p>
                    </div>
                }
            </div><br>
            <a class="show_more" href="/products">Show More Products...</a>
            <div class="recent">
                <h3 class="header"><u>Recent Orders</u></h3><br>
                @foreach(Order order in @ViewBag.orders)
                {
                    <p class="header">@order.user.name purchases @order.Quantity @order.product.Name ... (@((@DateTime.Now - @order.created_at).ToString("%d")) days ago)</p>
                }
            </div><br>
            <a class="show_more" href="/orders">Show More Orders...</a>
            <div class="recent">
                <h3 class="header"><u>Recent Customers</u></h3><br>
                @foreach(User user in @ViewBag.users)
                {
                    <p class="header">@user.name joined the store. (@((@DateTime.Now - @user.created_at).ToString("%d")) days ago)</p>
                }
            </div><br>
            <a class="show_more" href="/customers">Show More Customers...</a>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
